:root{
    --body:#E9D5CA;
    --nav : #827397;
    --hover: #4D4C7D;
    --button:#363062;
    --sans:Oxygen, sans-serif;
    --black:#171321;
    --font-size:1.3rem;
    --white: #f7f8fa;
    
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
nav{
    background-color: var(--nav);
    
    
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}
nav a{
    color: var(--white);
    text-decoration: none;
    display: block
}
nav a :hover{
    color: var(--hover);
}
nav :first-child{
    flex-basis: 100%;
    text-align: center;
    
}
nav [class*="fa"]{
    font-size: 150%;
    color: aqua;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    
    color: var(--white);
    font-size: var(--font-size);
}
section{
    display: flex;
    flex-flow: row;
    
}
.home{
    background-color: white;
    color: black;
}
.home> figure{
    width: 50%;
}
.projects{
    color: white;
    
  
}

.projects >figure{
    background-color: black;
    align-content: center;
    text-align: center;
    
}
img{
    width: 200px;
}
.industries>figure{
    background-color: #4D4C7D;
    text-align: center;
}
.jumbotron> figure{
    background-color: grey;
    text-align: center;
    padding: 10px;
    justify-content: center;
}
.jumbotron{
    align-content: center;
    
}
footer{
    background-color: goldenrod;
    color: #827397;
  
}
section{
    align-items: center;
    justify-content: center;
    align-items: center;
}
ul{
    justify-content: center;
    text-decoration: none;

}
.jumbotron p{
    align-items: center;
    color: #4D4C7D;
}
