:root{
    --body:#E9D5CA;
    --nav : #827397;
    --hover: #4D4C7D;
    --button:#363062;
    --sans:Oxygen, sans-serif;
    --black:#171321;
    --font-size:1.3rem;
    --white: #f7f8fa;
    
}
html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
nav{
    background-color: var(--nav);
    
    
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}
nav a{
    color: var(--white);
    text-decoration: none;
    display: block
}
nav a :hover{
    color: var(--hover);
}
nav :first-child{
    flex-basis: 100%;
    text-align: center;
    
}
nav [class*="fa"]{
    font-size: 150%;
    color: aqua;
}
body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}
main{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.home-section{
    height: 100%;
    width: 50%;
 
}
.home-photo{
    width: 50%;
    margin:20px;
    
  
}


